.header {
  text-align: center;
}
.header__filter {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__input {
  height: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
}

.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

@media screen and (max-width: 1250px) {
  .app {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .app {
    grid-template-columns: 1fr;
  }
}
