body {
  margin: 0;
  padding: 2rem 3rem 2rem;
  background: rgb(22, 22, 23);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: scroll;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
